* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #908282;
  font-family: Arial, sans-serif;
}

.container {
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 600px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 1.75rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 2rem;
}

h2 {
  text-align: left;  
  color: rgba(51, 51, 51, 0.83);
  font-size: 1rem;
  margin: 2rem 0;
}

form {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  outline: none;
  border: 2px solid #ddd; 
  background: transparent;
  margin-right: 10px;
}


button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #383131;
  color: #fff;
  border: none;
  border-radius: 20px;
  display: inline;
  cursor: pointer;  
}

button[type="submit"]:hover {
  background-color: #b2b2b2;
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

li:last-child {
  border-bottom: none;
}


.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn-delete {
  text-decoration: none;
  background-color: #c90d0d;
  color: #fff;
  border-radius: 5px;
  border-color: #c90d0d;
  font-size: 1rem;
  padding: 3px 10px;
  margin-right: 40px;
}

.btn-delete:hover {
  background-color: #f06565;
  color: #373737;
}

.invisible {
  opacity: 0;
}

