*{
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #282828;
}
.postDiv{
  width: 100%;
  display: block;
}
.update-form{
  color: #dedede;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

label {
  margin: 20px;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #167df4;
}
.input{
  background: transparent;
  color: #dedede;
  font-size: 21px;
  padding: 20px;
  width: 70%;
  border: 1px solid #5d5c5c;
  border-radius: 5px;
  resize: none;
  width: 100%;
}
.body-input{
  height: 200px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #c9c8c8;
}

ul {
  list-style-type: none;
  padding: 0;
}
.buttonsDiv{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  margin: 30px 0 0 0;
  gap: 10px;
}
.button {
  padding: 10px 20px;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
}

.button--success {
  background-color: #167df4;
}
.button--success:hover {
  background-color: #167df4;
}
.button--danger {
  background-color: #7a0916;
}

.button--danger:hover {
  background-color: #79000cf4;
}